.houdini {
    background-image: paint(placeholder-box);

    width: 400px;
    height: 400px;
    border: 2px solid red;

    animation: colorRotate 2s steps(10) infinite;
}

@keyframes colorRotate {
    0% {
        --bar-color: tomato;
    }
    100% {
        --bar-color: #bada55;
    }
}







/* .houdini {
    -webkit-mask-image: paint(placeholder-box);

    background: url('https://assets.vg247.com/current//2017/04/rick_and_morty_3.jpg');
    background-size: cover;

    width: 600px;
    height: 400px;
} */



/* .houdini {
    --bar-color: tomato;
    background-image: paint(placeholder-box);

    width: 400px;
    height: 400px;
    border: 2px solid red;

    color: tomato;

    animation: colorRotate 2s linear infinite;
}

@keyframes colorRotate {
    0% {
        --bar-color: tomato;
    }
    100% {
        --bar-color: #bada55;
    }
} */